---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import AboutUs from "../components/AboutUs.astro";
import Gallery from "../components/Gallery.astro";
---

<!doctype html>
<html lang="es">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <Hero />
        <AboutUs />
        <Gallery />
    </body>
</html>
