---

---

<section class="aboutus">
    <div class="content">
        <h2>Quienes somos</h2>
        <p>
            Somos unos perritos muy buenos. Dentro del servidor de Tony nos
            encontraras como los perritos mas activos del servidor. Tony todavia
            no sabe que esto existe, por lo que no estamos afiliados con el de
            ninguna manera. Un projecto de fans para tener nuestro servidor de
            matrix
        </p>

        <h2>Inversores principales</h2>
        <ul>
            <li>Blas</li>
        </ul>
    </div>
</section>

<style>
    h2 {
        font-size: 2rem;
    }
    p,
    span,
    li {
        font-size: 1.3rem;
    }
    .aboutus {
        display: flex;
        justify-content: center;
        padding: 2rem;
        font-family:
            system-ui,
            -apple-system,
            sans-serif;
    }
    .content {
        padding: 1.5rem;
    }
</style>
