---

---

<section class="gallery">
    <img
        src="https://cdn.discordapp.com/attachments/1476792345272782931/1520534210174255114/Screenshot_20260627_103715_Reddit.jpg?ex=6a44d715&is=6a438595&hm=6dc2fd3999d43e8c5bd5a06aadaef7311c2fdf0454a1f6daf6009b32b2dd3bcf&"
        alt="Pared de blas"
    />
    <img
        src="https://cdn.discordapp.com/attachments/1476792345272782931/1521560284416966918/Screenshot_20260630_155108_Reddit.jpg?ex=6a4546f1&is=6a43f571&hm=00c12218c74e27436f507ed655d5b754551259c17d9ceea09792676006872d51&"
    />
</section>

<style>
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .gallery img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border: 3px solid firebrick;
    }
</style>
