---

---

<section class="disclaimer">
    <div class="content">
        <span>Disclaimer</span>
        <h2>
            Perritos.uk no está afiliado ni reconocido por Tony. Somos solo
            fans.
        </h2>
    </div>
</section>

<style>
    :root {
        --background-tony: #ce161a;
        --text-tony: #ffffff;
    }
    .disclaimer {
        display: flex;
        background-color: var(--background-tony);
        justify-content: flex-start;
        padding: 2rem;
        font-family:
            system-ui,
            -apple-system,
            sans-serif;
    }

    .content {
        max-width: 26.563rem;
        padding: 1.5rem;
        border-left: 2px solid #000;
    }

    h2,
    span {
        color: var(--text-tony);
        font-size: 1.1rem;
        font-weight: 600;
        margin: 0 0 0.5rem 0;
        text-shadow:
            1px 1px 2px red,
            0 0 1em black,
            0 0 0.2em black;
        line-height: 1.4;
    }

    p {
        font-size: 0.95rem;
        color: var(--text-tony);
        margin: 0;
    }
</style>
