---

---

<section class="matrix">
    <h2>Nuestro servidor de matrix!</h2>
    <a href="#">
        <button>Unete ya!</button>
        <span>No disponible aun</span>
    </a>
</section>

<style>
    .matrix {
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 2rem;
        border: 1px solid #eaeaea;
        border-radius: 8px;
    }

    .matrix a {
        font-size: 1.5rem;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .matrix button {
        padding: 1rem;
        cursor: pointer;
        color: white;
        background-color: firebrick;
        border-radius: 7px;
    }

    .matrix span {
        font-size: 0.85rem;
        color: #666;
        text-decoration: underline;
    }
</style>
